[awx]
# Set the URL for the AWX API
tower_host = https://localhost:32297/api/v2

# Set the AWX API username
tower_username = admin

# Set the AWX API password
tower_password = Jumper213

# Set the AWX API verify SSL certificate option
verify_ssl = false

# Set the AWX API timeout (in seconds)
timeout = 30

# Set the AWX API paging option (number of items to return per page)
page_size = 100
